.anchor {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 10px;
    font-family: "Teko", courier, monospace;
    display: inline-block;
    word-wrap: break-word;
}

.response {
    margin-bottom: 10px;
}

#padoru-picture {
    width: 100px;
}

@media (max-width: 420px) {
    .anchor {
        font-size: 14px;
    }
}