.nousRejoindre {
    margin-left: 10%;
}

.submenu {
    position: absolute;
    top: 50px;
    left: 0;
    color: #aca;
    display: none;
    flex-direction: column;
    z-index: 1;
}

.burger {
    display: none;
}

.menu {
    position: fixed;
    transform: translate3d(45%, -60px, 0);
    z-index: 1;
}

.menu2 {
    position: fixed;
    flex-direction: column;
    display: none;
    top: 15px;
    left: 60px;
    background-color: rgba(131, 136, 146, 0.8);
}

#burger-picture {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
}

body .burger:hover .menu2 {
    display: flex;
    font-weight: bold;
    z-index: 1;
}

.menu2 #submenuForMenu2:hover .submenu {
    display: flex;
    font-weight: bold;
    background-color: rgba(131, 136, 146, 0.8);
    height: 275%;
    top: 48px;
}

nav div:hover .submenu {
    display: flex;
    font-weight: bold;
    background-color: rgba(131, 136, 146, 0.8);
    height: 275%;
    align-items: stretch;
}

.menu {
    font-weight: bold;
    height: 50px;
    display: flex;
    background-color: rgba(131, 136, 146, 0.8);
    font-size: 180%;
}

@media (max-width: 1080px) {
    .menu {
        display: none;
    }

    .burger {
        display: flex;
    }
}